
.Platinum {
  background: linear-gradient(to bottom right, #b9b9b9, #C0C0C0);
}

.Gold {
  background: linear-gradient(to bottom right, #dbce53, #FFD700);
}

.Black {
  background: linear-gradient(to bottom right, #969696, #000000);
}

